@use "../../sass/variables" as *;

.product-detail {
    align-items: center;
    display: flex;
    justify-content: space-around;

    &__card {

        img {
            height: 250px;
        }

        p {
            font-size: 1rem;
        }
    }
}

.product-detail__left-side {

}