@use "../../sass/variables" as *;

.header-meni {
    align-items: center;
    background-color: $header-background;
    min-height: 100px;
    display: flex;
    justify-content: space-around;

    &__logo2 {
        height: 60px;
        width: 60px;
    }

    ul {
        align-items: center;
        color: $white;
        display: flex;
    }

    li {
        color: transparent;
        font-size: 1rem;
        list-style-type: none;
        margin: 0 30px;
    }

    &__cart-shop2 {
        align-items: center;
        display: flex;

        h1 {
            color: transparent;
            font-size: 1rem;
            font-weight: 500;
            margin: 10px;
        }

        svg {
            height: 32px;
            fill: transparent;
        }
    }
}