@use "../../sass/variables" as *; 

/* 
    input {
        padding-left: 45px;
        height: 48px;
        width: 1096px;
        border-radius: 10px;
        border: 1px solid $border-input-color;
    }

    .search input {
        padding-left: 45px;
        height: 48px;
        width: 1096px;
        border-radius: 10px;
        border: 1px solid #7a7a7a;
    }

    .search__input-container {
        position: relative;
    }

    .search__search-logo {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
        color: gray;
    }
    
 */