@use "../../sass/variables" as *; 

    .search {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 40px 0;
    
        &__input-container {
            position: relative;

            svg {
                color: gray;
                font-size: 18px;
                height: 20px;
                left: 4px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        input {
            border-radius: 10px;
            border: $border-input-color;
            height: 36px;
            padding-left: 45px;
            width: 1096px;
        }

        svg {
            height: 25px;
            fill: $header-background
        }
        svg:hover {
            fill: $contrast-color;
            cursor: pointer;
        }
    }
    