@use "../../sass/variables" as *;
@use "../../sass/mixins" as*;

.home {
    background: $main-color;
    border-radius: $main-border-radius;

    .container {
        color: $second-color;

        h1 {
            @include flex-center;
        }
    }

    button {
        @include main-button($background: blue, $color: orange);
    }
}